/* Reset de márgenes y bordes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/60cc87af46fc80951f8b4fac_barber-pole.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: rgb(248, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none; /* Se muestra solo en dispositivos móviles */
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide la pantalla en dos columnas */
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    z-index: 1;
}

/* Sección izquierda */
.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido ligeramente hacia la izquierda */
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center; /* Alinea el texto a la izquierda */
    margin-left: -5px; /* Ajuste fino para mover toda la columna un poco hacia la izquierda */
}


.logo-container {
    margin-top: 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.slogan {
    font-size: 1.2rem;
    color: #fffbfb;
}

.download-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
.download-btn {
    background-color: #080808;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    display: right;
    align-items: center;
}

.download-btn .icon {
    width: 24px; /* Tamaño de la imagen */
    height: 24px;
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}


.download-button:hover {
    background-color: #0056b3;
}

/* Redes Sociales */
.redes {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-flex;
}

.redes .icon {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.redes .icon:hover {
    background: #555;
}

.redes .tooltip {
    position: absolute;
    top: 0;
    right: 70px;
    font-size: 14px;
    background: #E4405F;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.redes .icon:hover .tooltip {
    opacity: 1;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .terms-link {
    color: #ccc;
    margin-left: 10px;
    text-decoration: none;
}

.footer .terms-link:hover {
    color: #fff;
    text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
    body::before {
        display: block;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .redes {
        position: static;
        margin: 10px 0;
    }

    .shop-name,
    .instagram-button {
        margin: 10px 0;
    }
}

